<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'styles.css' | asset_url | stylesheet_tag }}
</head>
<body class="no-js">
  {%- section 'header' -%}
  <div class="container">
    {{ content_for_layout }}
  </div>
  {{ 'jquery-3.5.1.min.js' | asset_url | script_tag }}
  {% if template contains 'product' %}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    <script type="text/javascript">
      (function($) {
        var onVariantSelected = function(variant, selector) {
          if (variant) {
            if (variant.available) {
              // Selected a valid variant that is available.
              $('#add-to-cart').removeClass('disabled').removeAttr('disabled').val('Add to Cart').fadeTo(200,1);
            } else {
              // Variant is sold out.
              $('#add-to-cart').val('Sold Out').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
            }
            // Whether the variant is in stock or not, we can update the price and compare at price.
            if ( variant.compare_at_price > variant.price ) {
              $('#product-price').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "")+ '</s>');
            } else {
              $('#product-price').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "") + '</span>' );
            }
          } else {
            // variant doesn't exist.
            $('#add-to-cart').val('Unavailable').addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);
          }

          // Update the featured image.
          if(variant.featured_image) {
            var sizedImageUrl = Shopify.Image.getSizedImageUrl(variant.featured_image.src, 'large');
            $('#featured-image').attr('src', sizedImageUrl);
          }
        };

        // Instantiate the option selectors.
        var optionSelectors = new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: onVariantSelected, enableHistoryState: true });

        // Create an event listener to set a specific variant when clicking on image thumbnails.
        $(document).on('click', '[data-change-variant]', function(e) {
          e.preventDefault();
          optionSelectors.selectVariant($(this).data('changeVariant'));
        });

        // Create an event listener to set a specific variant option when clicking on swatches.
        $(document).on('click', '[data-change-option]', function(e) {
          e.preventDefault();
          console.log($(this).data());
          var optionIndex = parseInt($(this).data('changeOption')), optionValue = $(this).data('changeValue');
          console.log($(this).data());
          if(optionSelectors.optionExistInSelect(optionSelectors.selectors[optionIndex].element, optionValue)) {
            $(optionSelectors.selectors[optionIndex].element).val(optionValue).trigger('change');
          }
        });
        
        $(document).on('change', '[data-product-option]', function(e) {
          console.log($(this).data());
          var optionIndex = parseInt($(this).data('productOption'));
          var optionValue = $(this).data('productValue');
          if(optionSelectors.optionExistInSelect(optionSelectors.selectors[optionIndex].element, optionValue)) {
            $(optionSelectors.selectors[optionIndex].element).val(optionValue).trigger('change');
          }
        });
        
      }(jQuery));
    </script>
    {% endif %}
    <script type="text/javascript">
      // Remove the JS flag on the body.
      $('body').removeClass('no-js');
    </script>
</body>
</html>
